# build outputs
bin/
obj/

# Vscode files
.vs/
.vscode/
*.user
*.suo

*.log

# OS files
.DS_Store
Thumbs.db

# publish output
publish/

# local config 
appsettings.Development.json
secrets.json

# EF database (local test db)
*.db
*.sqlite

# node modules
node_modules/